Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

cargo-override-set:
  name: cargo-override-set
  description: unset override.
  entry: bash -c 'rustup override set stable || true'
  language: rust
  pass_filenames: false
  verbose: true

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'RUSTC_WRAPPER="" cargo clippy -vvv --all-targets --features "default" --all -- -Dwarnings'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -v --all -- --check -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fix:
  name: cargo fix
  description: Check the package for errors.
  entry: bash -c 'cargo fix -v --broken-code --all-targets --all --allow-dirty --allow-staged'
  language: rust
  pass_filenames: false
  verbose: true

cargo-build:
  name: cargo build
  description: build the package for errors.
  entry: bash -c 'cargo build --all --features "default" -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-test:
  name: cargo test
  description: test the package for errors.
  entry: bash -c 'RUST_BACKTRACE=full cargo test --all-targets --all -v -- --nocapture --show-output --test-threads=1'
  language: rust
  pass_filenames: false
  verbose: true

cargo-override-unset:
  name: cargo-override-unset
  description: unset override.
  entry: bash -c 'rustup override unset || true'
  language: rust
  pass_filenames: false
  verbose: true

fix: check the legitimacy of /etc/fstab to avoid crash when we process /etc/fstab
  core/sysmaster/src/main.rs
  exts/fstab/src/fstab_item.rs
  exts/fstab/src/main.rs
  libs/basic/src/lib.rs
  libs/basic/src/mount_util.rs
  libs/log/src/logger.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: remount sysroot at very beginning as sysroot need to be rw permission for writing log to file
  core/sysmaster/src/main.rs
  exts/fstab/src/fstab_item.rs
  exts/fstab/src/main.rs
  libs/basic/src/lib.rs
  libs/basic/src/mount_util.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature(devmaster): cleanup prioritized link directories automatically
  exts/devmaster/src/lib/error.rs
  exts/devmaster/src/lib/framework/garbage_collect.rs
  exts/devmaster/src/lib/rules/node.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): discard devctl test command that is deprecated
  exts/devmaster/src/bin/devctl/main.rs
  exts/devmaster/src/lib/framework/control_manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): replace tcp listener with unix socket for control manager
  exts/devmaster/src/bin/devctl/main.rs
  exts/devmaster/src/lib/framework/control_manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor(devmaster): split utilities based on different usage scenarios
  exts/devmaster/src/bin/tools/ata_id/main.rs
  exts/devmaster/src/lib/builtin/usb_id.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/rules/exec_unit.rs
  exts/devmaster/src/lib/rules/rules_load.rs
  exts/devmaster/src/lib/utils/commons.rs
  exts/devmaster/src/lib/utils/mod.rs
  exts/devmaster/src/lib/utils/spawn.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): pass environment variables to child process
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/utils/spawn.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: add stop_when_bound_queue fix BindsTo issue
  core/sysmaster/src/job/manager.rs
  core/sysmaster/src/job/table.rs
  core/sysmaster/src/manager/mod.rs
  core/sysmaster/src/unit/entry/uentry.rs
  core/sysmaster/src/unit/entry/unitx.rs
  core/sysmaster/src/unit/manager.rs
  core/sysmaster/src/unit/runtime.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

typo: delete the prefixed Unit in UnitActiveState, no functional change
  core/coms/mount/src/manager.rs
  core/coms/mount/src/mng.rs
  core/coms/service/src/mng.rs
  core/coms/socket/src/mng.rs
  core/coms/target/src/mng.rs
  core/libcore/src/unit/state.rs
  core/libcore/src/unit/umif.rs
  core/sysmaster/src/job/entry.rs
  core/sysmaster/src/job/manager.rs
  core/sysmaster/src/unit/data/table.rs
  core/sysmaster/src/unit/entry/uentry.rs
  core/sysmaster/src/unit/entry/unitx.rs
  core/sysmaster/src/unit/manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: Adjust the config loading sequence
  core/sysmaster/src/manager/pre_install.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature: enable SELinuxContext
  Cargo.lock
  ci/00-pre.sh
  core/coms/service/src/rentry.rs
  core/coms/service/src/unit.rs
  core/libcore/src/exec/base.rs
  core/sysmaster/Cargo.toml
  core/sysmaster/src/unit/execute/spawn.rs
  libs/basic/Cargo.toml
  libs/basic/src/security.rs
  libs/selinux/Cargo.toml
  libs/selinux/build.rs
  libs/selinux/selinux.h
  libs/selinux/src/lib.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): avoid net_id ignoring funciton_id if its value is zero
  exts/devmaster/src/lib/builtin/net_id.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: fix wrong status display of udevd socket
  tools/run_with_vm/udevd.service
Due: none

fix: init panic when /dev/kmsg does not exist
  Cargo.lock
  Cargo.toml
  init/src/main.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: return error when we cann't get pid from cgroup.procs instead of pid 0
  core/sysmaster/src/unit/entry/uentry.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: also migrate the process in the forked process
  core/coms/service/src/spawn.rs
  core/coms/socket/src/spawn.rs
  core/libcore/src/exec/base.rs
  core/libcore/src/unit/umif.rs
  core/sysmaster/src/unit/execute/spawn.rs
  core/sysmaster/src/unit/manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: don't enter listening if socket has already been stopped
  core/coms/socket/src/unit.rs
  core/libcore/src/unit/umif.rs
  core/sysmaster/src/unit/manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: systemd.conf does not take effect when daemon-reload
  core/sysmaster/src/main.rs
  core/sysmaster/src/manager/config.rs
  core/sysmaster/src/manager/mod.rs
  core/sysmaster/src/unit/manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: don't check the event.name
  exts/fstab/src/main.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: set the TimeoutStartSec/TimeoutStopSec when it's u64::MAX
  core/coms/service/src/mng.rs
  core/coms/service/src/rentry.rs
  docs/man/service.md
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: use 'let xx = match' to reduce the cyclomatic complexity
  core/coms/service/src/mng.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: respect TimeoutStopSec when we stop a unit
  core/coms/service/src/mng.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: avoid WaitStatus::from_raw() assert
  core/coms/service/src/rentry.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: add init_log in fstab
  exts/fstab/src/main.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): improve devmaster service configurations
  tools/run_with_devmaster/install_devmaster.sh
  tools/run_with_devmaster/service/devctl-trigger.service
  tools/run_with_devmaster/service/devmaster-simu-udev.service
  tools/run_with_devmaster/service/devmaster.service
  tools/run_with_devmaster/uninstall_devmaster.sh
Due: none

refactor(logger): optimize the logger implementation and make the public funtions more user-friendly
  Cargo.lock
  core/libcore/Cargo.toml
  core/libcore/src/unit/umif.rs
  core/sysmaster/src/job/junit.rs
  core/sysmaster/src/job/manager.rs
  core/sysmaster/src/job/notify.rs
  core/sysmaster/src/job/stat.rs
  core/sysmaster/src/job/table.rs
  core/sysmaster/src/job/transaction.rs
  core/sysmaster/src/main.rs
  core/sysmaster/src/manager/mod.rs
  core/sysmaster/src/plugin/mod.rs
  core/sysmaster/src/unit/datastore/child.rs
  core/sysmaster/src/unit/datastore/deps.rs
  core/sysmaster/src/unit/datastore/sets.rs
  core/sysmaster/src/unit/entry/uentry.rs
  core/sysmaster/src/unit/execute/spawn.rs
  core/sysmaster/src/unit/manager.rs
  core/sysmaster/src/unit/runtime.rs
  exts/devmaster/src/bin/devctl/main.rs
  exts/devmaster/src/bin/tools/ata_id/main.rs
  exts/devmaster/src/lib/builtin/blkid.rs
  exts/devmaster/src/lib/builtin/input_id.rs
  exts/devmaster/src/lib/framework/devmaster.rs
  exts/devmaster/src/lib/rules/rules_load.rs
  exts/devmaster/src/lib/utils/spawn.rs
  exts/hostname_setup/src/main.rs
  exts/random_seed/src/main.rs
  libs/log/Cargo.toml
  libs/log/src/inner.rs
  libs/log/src/logger.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature(devmaster): support configure log targets
  exts/devmaster/config/config.toml
  exts/devmaster/src/lib/config/devmaster_conf.rs
  exts/devmaster/src/lib/framework/devmaster.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): improve service configurations to avoid blocking
  tools/run_with_devmaster/install_devmaster.sh
  tools/run_with_devmaster/service/devmaster-simu-udev.service
  tools/run_with_devmaster/service/devmaster.service
  tools/run_with_devmaster/simulate_udev.sh
Due: none

fix(sysmaster): bootup occasionally failed due to loose unit dependencies
  tools/run_with_vm/install_sysmaster.sh
  tools/run_with_vm/udev-trigger.service
  units/sockets.target
Due: none

fix(sysmaster): plugin expiration due to incorrect feature usage
  Cargo.lock
  core/coms/mount/Cargo.toml
  core/coms/mount/src/lib.rs
  core/coms/mount/src/manager.rs
  core/coms/service/Cargo.toml
  core/coms/service/src/lib.rs
  core/coms/service/src/manager.rs
  core/coms/socket/Cargo.toml
  core/coms/socket/src/lib.rs
  core/coms/socket/src/manager.rs
  core/coms/target/Cargo.toml
  core/coms/target/src/lib.rs
  core/coms/target/src/manager.rs
  core/libcore/src/unit/base.rs
  core/libcore/src/unit/umif.rs
  core/sysmaster/Cargo.toml
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): remove redundant log messages in net_setup_link
  exts/devmaster/src/lib/builtin/net_setup_link.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(log): resume OPEN_WHEN_NEEDED introduced by preivous commit
  core/sysmaster/src/unit/execute/spawn.rs
  libs/log/src/logger.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(log): add two white spaces prefix to adapt rsyslog format
  libs/log/src/logger.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor(devmaster): compress unnecessary verbose debug logs
  exts/devmaster/src/lib/builtin/kmod.rs
  libs/device/src/device.rs
  libs/kmod_rs/src/lib.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(log): reconnect syslog when it is online
  libs/log/src/logger.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature: enable rsyslog in sysmaster system
  tools/run_with_rsyslog/README.md
  tools/run_with_rsyslog/install_rsyslog.sh
  tools/run_with_rsyslog/rsyslog.conf
  tools/run_with_rsyslog/syslog.service
  tools/run_with_rsyslog/uninstall_rsyslog.sh
  tools/run_with_vm/hostname-setup.service
  tools/run_with_vm/install_sysmaster.sh
  units/sysinit.target
  units/syslog.socket
  units/syslog.target
Due: none

refactor(devmaster): change the default log level and log targets
  exts/devmaster/config/config.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

refactor(devmaster): improve log messages
  exts/devmaster/src/lib/builtin/keyboard.rs
  exts/devmaster/src/lib/rules/node.rs
  exts/devmaster/src/lib/utils/commons.rs
  libs/kmod_rs/src/lib.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(basic): enable default features when debugging
  libs/basic/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

fix: supplement package dependency for python3-devel to deal with ci failure
  ci/00-pre.sh
Due: none

Path conditions:
  cargo-override-set: any of: \.(rs|toml)$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-fix: any of: \.rs$
  cargo-build: any of: \.(rs|toml)$
  cargo-test: any of: \.(rs|toml)$
  cargo-override-unset: any of: \.(rs|toml)$
