Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

cargo-override-set:
  name: cargo-override-set
  description: unset override.
  entry: bash -c 'rustup override set stable || true'
  language: rust
  pass_filenames: false
  verbose: true

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'RUSTC_WRAPPER="" cargo clippy -vvv --all-targets --features "default" --all -- -Dwarnings'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -v --all -- --check -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fix:
  name: cargo fix
  description: Check the package for errors.
  entry: bash -c 'cargo fix -v --broken-code --all-targets --all --allow-dirty --allow-staged'
  language: rust
  pass_filenames: false
  verbose: true

cargo-build:
  name: cargo build
  description: build the package for errors.
  entry: bash -c 'cargo build --all --features "default" -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-test:
  name: cargo test
  description: test the package for errors.
  entry: bash -c 'RUST_BACKTRACE=full cargo test --all-targets --all -v -- --nocapture --show-output --test-threads=1'
  language: rust
  pass_filenames: false
  verbose: true

cargo-override-unset:
  name: cargo-override-unset
  description: unset override.
  entry: bash -c 'rustup override unset || true'
  language: rust
  pass_filenames: false
  verbose: true

perf(device): drop regex crate
  Cargo.lock
  libs/device/Cargo.toml
  libs/device/src/device_enumerator.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

typo(devmaster): fix typos
  exts/devmaster/src/lib/utils/commons.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor(devmaster): delete unnecessary fields and encapsulate mutability inside rules
  exts/devmaster/src/lib/framework/worker_manager.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/rules/mod.rs
  exts/devmaster/src/lib/rules/rules_load.rs
  exts/devmaster/src/lib/utils/macros.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(sysmaster): fix code format warning
  libs/unit_parser/src/config.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: fix clippy error for machine
  libs/basic/src/machine.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: compatible with lvm as we don't have systemd-run yet.
  rules/99-sysmaster.rules
  tools/run_with_vm/install_sysmaster.sh
Due: none

fix: don't panic when parsing an invalid unit config file
  core/coms/service/src/config.rs
  core/coms/socket/src/config.rs
  core/sysmaster/src/unit/entry/config.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: log message after we have applied sysctl.conf
  units/sysctl.service
  units/sysinit.target
  units/syslog.socket
Due: none

fix(sysmaster): fix build failure on plugin
  core/libcore/src/unit/umif.rs
  core/sysmaster/src/plugin/mod.rs
  core/sysmaster/src/unit/util/unit_om.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

release: tag 0.5.1
  .workflow/branch-pipeline.yml
  .workflow/master-pipeline.yml
  .workflow/pr-pipeline.yml
  Cargo.lock
  Cargo.toml
  ci/common_function
  core/coms/mount/Cargo.toml
  core/coms/service/Cargo.toml
  core/coms/socket/Cargo.toml
  core/coms/target/Cargo.toml
  core/libcore/Cargo.toml
  core/sctl/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/fstab/Cargo.toml
  exts/getty-generator/Cargo.toml
  exts/hostname_setup/Cargo.toml
  exts/hwdb/Cargo.toml
  exts/random_seed/Cargo.toml
  exts/rc-local-generator/Cargo.toml
  exts/switch_root/Cargo.toml
  exts/sysmonitor/Cargo.toml
  libs/basic/Cargo.toml
  libs/blkid_rs/Cargo.toml
  libs/cgroup/Cargo.toml
  libs/cmdproto/Cargo.toml
  libs/constants/Cargo.toml
  libs/device/Cargo.toml
  libs/event/Cargo.toml
  libs/hwdb/Cargo.toml
  libs/input_event_codes_rs/Cargo.toml
  libs/kmod_rs/Cargo.toml
  libs/libtests/Cargo.toml
  libs/log/Cargo.toml
  libs/macros/Cargo.toml
  libs/scsi_generic_rs/Cargo.toml
  libs/selinux/Cargo.toml
  libs/watchdog/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

feature: add scsi_id
  exts/devmaster/Cargo.toml
  exts/devmaster/src/bin/tools/scsi_id/main.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

ci: downgrade pre-commit version
  .pre-commit-config.yaml
  ci/00-pre.sh
  ci/01-pre-commit.sh
  ci/common_function
Due: none

feature(devctl): add devctl info
  exts/devmaster/src/bin/devctl/main.rs
  exts/devmaster/src/bin/devctl/subcmds/devctl_info.rs
  exts/devmaster/src/bin/devctl/subcmds/devctl_utils.rs
  exts/devmaster/src/bin/devctl/subcmds/mod.rs
  exts/devmaster/src/lib/rules/node.rs
  libs/basic/src/fd_util.rs
  libs/device/src/device.rs
  libs/device/src/device_enumerator.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

ci: delete invalid url
  ci/00-pre.sh
  ci/01-pre-commit.sh
Due: none

fix(getty-generator): delelte double quote in the configuration file
  tools/run_with_vm/getty.target
  tools/run_with_vm/getty@.service
  tools/run_with_vm/serial-getty@.service
Due: none

fix(devmaster): keep the same name with udev control socket
  exts/devmaster/src/lib/framework/control_manager.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: mv config into factory
  README.md
  build.rs
  core/sysmaster/build.rs
  docs/Contrib.md
  docs/deploy-gh-pages.sh
  docs/use/00-sysMaster_build_and_use.md
  factory/etc/sysmaster/plugin.conf
  factory/etc/sysmaster/system.conf
  factory/usr/lib/sysmaster/system/basic.target
  factory/usr/lib/sysmaster/system/multi-user.target
  factory/usr/lib/sysmaster/system/shutdown.target
  factory/usr/lib/sysmaster/system/sockets.target
  factory/usr/lib/sysmaster/system/sshd-keygen.target
  factory/usr/lib/sysmaster/system/sshd-keygen@.service
  factory/usr/lib/sysmaster/system/sshd.service
  factory/usr/lib/sysmaster/system/sysctl.service
  factory/usr/lib/sysmaster/system/sysinit.target
  factory/usr/lib/sysmaster/system/syslog.socket
  factory/usr/lib/sysmaster/system/syslog.target
  factory/usr/lib/udev/rules.d/99-sysmaster.rules
  mkdocs.yml
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

ci: minor optimization
  .pre-commit-config.yaml
  README.md
  build.rs
  build.sh
  ci/pre-commit
  requirements.sh
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: mv CONTRIBUTING.md to docs
  docs/Contrib.md
Due: none

ci: mv vendor.sh into tools
  README.en.md
  install.sh
  tools/vendor.sh
Due: none

docs: delete unused contents
  .pre-commit-config.yaml
  Cargo.lock
  deny.toml
  docs/deploy-gh-pages.sh
  libs/cmdproto/Cargo.toml
  libs/cmdproto/build.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): adjust temporary file permissions
  exts/devmaster/src/lib/rules/node.rs
  libs/device/src/device.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: minor fix to avoid spelling error, delete unused scheme in mkdocs
  .gitignore
  .pre-commit-config.yaml
  Cargo.toml
  mkdocs.yml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

ci: optimize the code to avoid multiple preinstalls
  build.sh
  ci/00-pre.sh
  ci/01-pre-commit.sh
  ci/common_function
Due: none

feature(init/earlymount): mount early mountpoint like proc sys dev
  Cargo.toml
  init/main.rs
  init/mount.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

ci: the last command status was bash function status when set -e failed
  ci/01-pre-commit.sh
  ci/common_function
Due: none

fix(basic): change a more common cmdline parameter used in test case
  libs/basic/src/condition.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): append zero to the file name
  exts/devmaster/src/lib/builtin/net_id.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): fix out-of-bounds in net_id
  exts/devmaster/src/lib/builtin/net_id.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): fix potential integer overflow in scsi_id
  exts/devmaster/src/bin/tools/scsi_id/main.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: fix error when codespell
  .gitignore
  .pre-commit-config.yaml
  Cargo.toml
  README.md
  ci/codespell_ignore_words
  factory/README.md
  factory/etc/sysmaster/plugin.conf
  factory/etc/sysmaster/system.conf
  factory/usr/lib/sysmaster/system/basic.target
  factory/usr/lib/sysmaster/system/multi-user.target
  factory/usr/lib/sysmaster/system/shutdown.target
  factory/usr/lib/sysmaster/system/sockets.target
  factory/usr/lib/sysmaster/system/sshd-keygen.target
  factory/usr/lib/sysmaster/system/sshd-keygen@.service
  factory/usr/lib/sysmaster/system/sshd.service
  factory/usr/lib/sysmaster/system/sysctl.service
  factory/usr/lib/sysmaster/system/sysinit.target
  factory/usr/lib/sysmaster/system/syslog.socket
  factory/usr/lib/sysmaster/system/syslog.target
  factory/usr/lib/udev/rules.d/99-sysmaster.rules
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

docs: mimor change
  docs/use/00-sysMaster构建和使用.md
  docs/use/兼容systemd模式运行/Readme.md
Due: none

fix(devmaster): fix misspelt sysattr sas_address
  exts/devmaster/src/lib/builtin/path_id.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): check the validity of kmod context during new method
  exts/devmaster/src/lib/builtin/kmod.rs
  libs/kmod_rs/src/lib.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: refactor unit_parser
  core/coms/service/src/config.rs
  core/coms/service/src/mng.rs
  core/coms/service/src/rentry.rs
  core/coms/service/src/unit.rs
  core/coms/socket/src/config.rs
  core/coms/socket/src/rentry.rs
  core/sysmaster/src/manager/pre_install.rs
  core/sysmaster/src/unit/entry/config.rs
  core/sysmaster/src/unit/rentry.rs
  core/sysmaster/src/unit/util/unit_file.rs
  libs/macros/src/unit_parser/attribute.rs
  libs/macros/src/unit_parser/entry.rs
  libs/macros/src/unit_parser/section.rs
  libs/macros/src/unit_parser/transform_default.rs
  libs/macros/src/unit_parser/unit.rs
  libs/unit_parser/examples/dropins.rs
  libs/unit_parser/examples/example.rs
  libs/unit_parser/examples/specifiers.rs
  libs/unit_parser/examples/subdir.rs
  libs/unit_parser/examples/template.rs
  libs/unit_parser/src/config.rs
  libs/unit_parser/src/parser.rs
  libs/unit_parser/src/specifiers.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: update docs for refactored unit_parser
  docs/design/rfcs/0001-systemd_parser.md
  libs/unit_parser/src/config.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

Path conditions:
  cargo-override-set: any of: \.(rs|toml)$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-fix: any of: \.rs$
  cargo-build: any of: \.(rs|toml)$
  cargo-test: any of: \.(rs|toml)$
  cargo-override-unset: any of: \.(rs|toml)$
