Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks.git"
    rev: v4.4.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
  #      - id: check-executables-have-shebangs
      # - id: check-shebang-scripts-are-executable
  - repo: "https://github.com/codespell-project/codespell.git"
    rev: v2.2.2
    hooks:
      - id: codespell
        args: [-I, ci/codespell_ignore_words]
        verbose: true
  # - repo: "https://github.com/psf/black.git"
  #   rev: 22.8.0
  #   hooks:
  #     - id: black
  # - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #   rev: master  # or specific git tag
  #   hooks:
  #     - id: bundler-audit
  #     # - id: check-mailmap
  #     - id: fasterer
  #     # - id: forbid-binary
  #     # - id: forbid-space-in-indent
  #     - id: git-check  # Configure in .gitattributes
  #     - id: git-dirty  # Configure in .gitignore
  #     - id: markdownlint # Configure in .mdlrc
  #     - id: reek
  #     # - id: require-ascii
  #     - id: rubocop
  #     - id: script-must-have-extension
  #     # - id: script-must-not-have-extension
  #     - id: shellcheck
  #     - id: shfmt

  - repo: local
    hooks:
      - id: cargo-override-set
        name: cargo-override-set
        description: unset override.
        entry: bash -c 'rustup override set stable || true'
        language: rust
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'RUSTC_WRAPPER="" cargo clippy -vvv --all-targets --features "default" --all -- -Dwarnings'
        language: rust
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: commit-msg
        name: commit-msg
        description: use commit-msg for commit.
        entry: bash -c '\cp -ar ci/commit-msg .git/hooks/'
        language: system
        pass_filenames: false
        verbose: true
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -v --all -- --check -v'
        language: rust
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-fix
        name: cargo fix
        description: Check the package for errors.
        entry: bash -c 'cargo fix -v --broken-code --all-targets --all --allow-dirty --allow-staged'
        language: rust
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-build
        name: cargo build
        description: build the package for errors.
        entry: bash -c 'cargo build --all --features "default" -v'
        language: rust
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-test
        name: cargo test
        description: test the package for errors.
        entry: bash -c 'RUST_BACKTRACE=full cargo test --all-targets --all -v -- --nocapture --show-output --test-threads=1'
        language: rust
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-override-unset
        name: cargo-override-unset
        description: unset override.
        entry: bash -c 'rustup override unset || true'
        language: rust
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true

#      - id: cargo-deny
#        name: cargo deny check
#        description: Check cargo depencencies
#        entry: bash -c 'cargo deny check'
#        language: rust
#        files: \.rs$
#        args: []

feature: add cpu, disk etc
  core/coms/service/src/mng.rs
  core/coms/service/src/pid.rs
  core/sysmaster/src/manager/mod.rs
  core/sysmaster/src/unit/entry/uentry.rs
  core/sysmaster/src/unit/manager.rs
  libs/basic/Cargo.toml
  libs/basic/src/cpu.rs
  libs/basic/src/disk.rs
  libs/basic/src/host.rs
  libs/basic/src/lib.rs
  libs/basic/src/memory.rs
  libs/basic/src/process.rs
  libs/basic/src/sensors.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: use features to control basic::build code
  exts/devmaster/Cargo.toml
  exts/devmaster/build.rs
  libs/basic/Cargo.toml
  libs/basic/src/build.rs
  libs/basic/src/lib.rs
  libs/blkid_rs/Cargo.toml
  libs/blkid_rs/build.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: Merge the code related to fs_utils.
  core/coms/service/src/mng.rs
  core/coms/service/src/rentry.rs
  core/coms/socket/src/port.rs
  core/libcore/src/exec/cmd.rs
  core/libcore/src/serialize.rs
  core/sysmaster/src/manager/mod.rs
  core/sysmaster/src/manager/pre_install.rs
  core/sysmaster/src/mount/setup.rs
  core/sysmaster/src/unit/entry/uentry.rs
  core/sysmaster/src/unit/manager.rs
  core/sysmaster/src/unit/test/mod.rs
  core/sysmaster/src/unit/uload.rs
  core/sysmaster/src/unit/util/unit_file.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/rules/node.rs
  libs/basic/Cargo.toml
  libs/basic/src/condition.rs
  libs/basic/src/file_util.rs
  libs/basic/src/fs_util.rs
  libs/basic/src/lib.rs
  libs/basic/src/path_lookup.rs
  libs/basic/src/path_util.rs
  libs/basic/src/process.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: delete dependencies of caps, and delete build and gpt
  Cargo.lock
  exts/devmaster/Cargo.toml
  exts/devmaster/build.rs
  exts/devmaster/src/lib/builtin/blkid.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/rules/rules_load.rs
  libs/basic/Cargo.toml
  libs/basic/src/capability.rs
  libs/basic/src/cargo.rs
  libs/basic/src/condition.rs
  libs/basic/src/config.rs
  libs/basic/src/env_cargo.rs
  libs/basic/src/error.rs
  libs/basic/src/gpt.rs
  libs/basic/src/lib.rs
  libs/basic/src/parse.rs
  libs/basic/src/proc_cmdline.rs
  libs/basic/src/uuid.rs
  libs/blkid_rs/Cargo.toml
  libs/blkid_rs/build.rs
  libs/device/src/device.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: set /run/sysmaster to 0o755 forcely
  core/sysmaster/src/manager/commands.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature(devmaster): add ata_id support
  Cargo.lock
  exts/devmaster/Cargo.toml
  exts/devmaster/src/bin/tools/ata_id/main.rs
  exts/devmaster/src/lib/utils/mod.rs
  libs/scsi_generic_rs/Cargo.toml
  libs/scsi_generic_rs/build.rs
  libs/scsi_generic_rs/header.h
  libs/scsi_generic_rs/src/lib.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): last spaces should not be converted to '_' in replace_whitespace
  exts/devmaster/src/lib/utils/mod.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: improve install_sysmaster script and simplify the tutorial
  docs/resolution/01-run sysmaster in virtual machine.md
  tools/run_with_vm/install_sysmaster.sh
Due: none

docs: add sysmaster test markdown file
  docs/resolution/00-sysMaster build and use.md
  docs/resolution/01-run sysmaster with container.md
  docs/resolution/01-run sysmaster with systemd.md
  docs/resolution/01-run sysmaster with vm.md
  docs/resolution/99-sysMaster_test.md
Due: none

docs: Adjust the format of the markdown text.
  docs/design/00-sysmaster_0description.md
Due: none

refactor: split logger out from basic, and enable us to reset a logger
  libs/basic/src/lib.rs
  libs/log/Cargo.toml
  libs/log/src/inner.rs
  libs/log/src/lib.rs
  libs/log/src/logger.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: upgrade log version to 0.5.0
  Cargo.lock
  libs/log/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

style(devmaster): append rules location in log messages during loading
  exts/devmaster/src/lib/rules/rules_load.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: sometimes the name of UID 1 is daemon
  libs/basic/src/unistd.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: only search the build directory when we test
  core/sysmaster/src/plugin/mod.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: add empty docs to avoid lint complaining
  libs/basic/src/capability.rs
  libs/basic/src/cpu.rs
  libs/basic/src/disk.rs
  libs/basic/src/host.rs
  libs/basic/src/memory.rs
  libs/basic/src/sensors.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: add missing features for some crates and declare feature dependencies explicitly in crate basic
  core/coms/mount/Cargo.toml
  core/coms/service/Cargo.toml
  core/coms/socket/Cargo.toml
  core/libcore/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/hostname_setup/Cargo.toml
  exts/random_seed/Cargo.toml
  exts/switch_root/Cargo.toml
  exts/sysmonitor/Cargo.toml
  libs/basic/Cargo.toml
  libs/basic/src/lib.rs
  libs/cgroup/Cargo.toml
  libs/device/Cargo.toml
  libs/kmod_rs/Cargo.toml
  libs/watchdog/Cargo.toml
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor(basic): rename proc_cmdline to cmdline to be consistent with feature name
  core/sysmaster/src/mount/setup.rs
  core/sysmaster/src/unit/manager.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/hostname_setup/src/main.rs
  libs/basic/src/cmdline.rs
  libs/basic/src/condition.rs
  libs/basic/src/lib.rs
  libs/basic/src/naming_scheme.rs
  libs/kmod_rs/src/lib.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: update rustc version in generate_cov.sh script
  tools/generate_cov.sh
Due: none

fix(devmaster): avoid complaining on escaped characters in rules value
  exts/devmaster/src/lib/utils/mod.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: disable default-features of nix and avoid indirect feature dependencies
  core/coms/mount/Cargo.toml
  core/coms/service/Cargo.toml
  core/coms/socket/Cargo.toml
  core/coms/target/Cargo.toml
  core/libcore/Cargo.toml
  core/sctl/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/hostname_setup/Cargo.toml
  exts/random_seed/Cargo.toml
  exts/switch_root/Cargo.toml
  exts/sysmonitor/Cargo.toml
  libs/basic/Cargo.toml
  libs/blkid_rs/Cargo.toml
  libs/cgroup/Cargo.toml
  libs/device/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

docs: add docs/rfcs/0001-systemd_parser.md.
  docs/rfcs/0001-systemd_parser.md
Due: none

fix: make control command accept -
  core/coms/service/src/mng.rs
  core/coms/socket/src/mng.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: only import features which devmaster requires
  exts/devmaster/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

fix: disable User/Group feature for hongmeng
  core/coms/service/Cargo.toml
  core/coms/service/src/unit.rs
  core/sysmaster/src/unit/execute/spawn.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

typo: optimizing print statements
  init/src/main.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs(devmaster): add mannual testing documents
  docs/tests/devmaster/01-devctl_test-builtin.md
  docs/tests/devmaster/02-devctl_trigger.md
  docs/tests/devmaster/03-devctl_monitor.md
  docs/tests/devmaster/04-配置管理.md
  docs/tests/devmaster/05-规则加载.md
  docs/tests/devmaster/06-规则匹配.md
  docs/tests/devmaster/07-规则赋值.md
  docs/tests/devmaster/08-规则跳转.md
  docs/tests/devmaster/09-占位符格式化.md
  docs/tests/devmaster/10-builtin_blkid.md
  docs/tests/devmaster/11-builtin_input_id.md
  docs/tests/devmaster/12-builtin_keyboard.md
  docs/tests/devmaster/13-builtin_kmod.md
  docs/tests/devmaster/14-builtin_net_id.md
  docs/tests/devmaster/15-builtin_net_setup_link.md
  docs/tests/devmaster/16-builtin_path_id.md
  docs/tests/devmaster/17-builtin_usb_id.md
  docs/tests/devmaster/18-数据库更新.md
  docs/tests/devmaster/19-时间戳更新.md
  docs/tests/devmaster/20-软链接更新.md
  docs/tests/devmaster/21-标签更新.md
  docs/tests/devmaster/22-remove事件处理.md
  docs/tests/devmaster/23-网卡重命名.md
  docs/tests/devmaster/24-空闲worker线程回收.md
  docs/tests/devmaster/README.md
Due: none

docs: typo fix
  docs/deploy-gh-pages.sh
  docs/resolution/01-run sysmaster with container.md
  docs/resolution/01-run sysmaster with systemd.md
  mkdocs.yml
Due: none

docs(devmaster): fix document titles in the web page
  docs/tests/devmaster/01-devctl_test-builtin.md
  docs/tests/devmaster/02-devctl_trigger.md
  docs/tests/devmaster/03-devctl_monitor.md
  docs/tests/devmaster/04-配置管理.md
  docs/tests/devmaster/05-规则加载.md
  docs/tests/devmaster/06-规则匹配.md
  docs/tests/devmaster/07-规则赋值.md
  docs/tests/devmaster/08-规则跳转.md
  docs/tests/devmaster/09-占位符格式化.md
  docs/tests/devmaster/10-builtin_blkid.md
  docs/tests/devmaster/11-builtin_input_id.md
  docs/tests/devmaster/12-builtin_keyboard.md
  docs/tests/devmaster/13-builtin_kmod.md
  docs/tests/devmaster/14-builtin_net_id.md
  docs/tests/devmaster/15-builtin_net_setup_link.md
  docs/tests/devmaster/16-builtin_path_id.md
  docs/tests/devmaster/17-builtin_usb_id.md
  docs/tests/devmaster/18-数据库更新.md
  docs/tests/devmaster/19-时间戳更新.md
  docs/tests/devmaster/20-软链接更新.md
  docs/tests/devmaster/21-标签更新.md
  docs/tests/devmaster/22-remove事件处理.md
  docs/tests/devmaster/23-网卡重命名.md
  docs/tests/devmaster/24-空闲worker线程回收.md
  docs/tests/devmaster/README.md
Due: none

fix: add open_when_needed feature for FileLogger
  core/sysmaster/src/unit/execute/spawn.rs
  libs/log/src/logger.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

style: add some comments to make the code more readable
  core/sysmaster/src/unit/execute/spawn.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: typo fix
  docs/tests/sysmaster/99-sysMaster_test.md
Due: none

fix: enable subtree_control for sub cgroup on hongmeng
  core/sysmaster/src/main.rs
  core/sysmaster/src/mount/setup.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: delete and re-add the restart timer to make timer work again
  core/coms/service/src/mng.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

test: fix test failure and add tests document
  core/libcore/src/utils/fd.rs
  docs/tests/sysmaster/99-sysMaster_test.md
  install.sh
  tests/common/docker_lib.sh
  tests/common/mod.rs
  tests/common/util_lib.sh
  tests/config_test/unit_config_test/dependency_001/check.sh
  tests/config_test/unit_config_test/dependency_003/check.sh
  tests/config_test/unit_config_test/exec_001/check.sh
  tests/config_test/unit_config_test/service_001/check.sh
  tests/config_test/unit_config_test/timeout_002/check.sh
  tests/reliable_test/random_kill_001/check.sh
  tests/test_frame.sh
  tests/vm_config_test.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature(devmaster): notify pid 1 when devmaster is ready
  exts/devmaster/config/config.toml
  exts/devmaster/src/bin/devmaster/main.rs
  exts/devmaster/tests/install.sh
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): use unix socket instead of tcp stream to avoid network not reachable
  exts/devmaster/src/lib/framework/devmaster.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset
