Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

cargo-override-set:
  name: cargo-override-set
  description: unset override.
  entry: bash -c 'rustup override set 1.57.0 || true'
  language: system
  pass_filenames: false
  verbose: false

cargo-build:
  name: cargo build
  description: build the package for errors.
  entry: bash -c 'cargo build --all --features "default" -v'
  language: system
  pass_filenames: false
  verbose: true

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'RUSTC_WRAPPER="" cargo clippy -vvv --all-targets --features "default" --all -- -Dwarnings'
  language: system
  pass_filenames: false
  verbose: true

cargo-fix:
  name: cargo fix
  description: Check the package for errors.
  entry: bash -c 'cargo fix -v --broken-code --all-targets --all --allow-dirty --allow-staged'
  language: system
  pass_filenames: false
  verbose: true

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -v --all -- --check -v'
  language: system
  pass_filenames: false
  verbose: true

cargo-test-tmpfile-cleanup:
  name: tmpfile cleanup
  description: tmpfile cleanup.
  entry: bash -c 'rm -rf target/*/reliability/'
  language: system
  pass_filenames: false
  verbose: true

cargo-test:
  name: cargo test
  description: test the package for errors.
  entry: bash -c 'RUST_BACKTRACE=full cargo test --all-targets --all -v -- --nocapture --show-output --test-threads=1'
  language: system
  pass_filenames: false
  verbose: true

cargo-override-unset:
  name: cargo-override-unset
  description: unset override.
  entry: bash -c 'rustup override unset || true'
  language: system
  pass_filenames: false
  verbose: false

test(libudev): test udev_queue
  exts/libudev/tests/test_libudev_queue.c
Due: none

docs(libudev_macrO): add missing docs
  exts/libudev_macro/src/lib.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(libudev): support udev
  exts/libudev/src/libudev.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(libudev): support udev_device_get_devlinks_list_entry
  exts/libudev/src/libudev_device.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

test(libudev): test memory leak for udev_enumerate in C program
  exts/libudev/tests/test_libudev_device_leak.c
Due: none

feature(libudev): support udev_enumerate_get_udev
  exts/libudev/src/libudev_enumerate.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(libudev): support udev_enumerate_add_match_sysattr ABI
  exts/libudev/build.rs
  exts/libudev/src/libudev_enumerate.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

refactor: use Rc to contain Device object instead of Rc RefCell
  exts/devmaster/src/bin/devctl/subcmds/info.rs
  exts/devmaster/src/bin/devctl/subcmds/test_builtin.rs
  exts/devmaster/src/bin/devctl/subcmds/trigger.rs
  exts/devmaster/src/lib/builtin/blkid.rs
  exts/devmaster/src/lib/builtin/example.rs
  exts/devmaster/src/lib/builtin/hwdb.rs
  exts/devmaster/src/lib/builtin/input_id.rs
  exts/devmaster/src/lib/builtin/keyboard.rs
  exts/devmaster/src/lib/builtin/kmod.rs
  exts/devmaster/src/lib/builtin/mod.rs
  exts/devmaster/src/lib/builtin/net_id.rs
  exts/devmaster/src/lib/builtin/net_setup_link.rs
  exts/devmaster/src/lib/builtin/path_id.rs
  exts/devmaster/src/lib/builtin/usb_id.rs
  exts/devmaster/src/lib/config/netif_conf.rs
  exts/devmaster/src/lib/error.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/rules/exec_unit.rs
  exts/devmaster/src/lib/rules/node.rs
  exts/devmaster/src/lib/utils/commons.rs
  exts/devmaster/src/lib/utils/macros.rs
  exts/devmaster/src/lib/utils/spawn.rs
  exts/libudev/src/libudev_device.rs
  libs/device/examples/enumerator.rs
  libs/device/src/device.rs
  libs/device/src/device_enumerator.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(libudev): support some ABIs to support libvirtd
  exts/libudev/build.rs
  exts/libudev/src/libudev_device.rs
  exts/libudev/src/libudev_enumerate.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

test(libudev): add C test example for udev_hwdb
  exts/libudev/tests/test_libudev_hwdb.c
Due: none

feature(libudev): support udev_hwdb
  Cargo.lock
  exts/libudev/Cargo.toml
  exts/libudev/src/lib.rs
  exts/libudev/src/libudev_hwdb.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(device): support generating device object from environment variables
  libs/device/src/device.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(libudev): fix fmt clippy
  exts/libudev/src/lib.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

typo(libudev): correct typo in C example program
  exts/libudev/tests/test_libudev_queue.c
Due: none

refactor(device): use C representation of DeviceAction enum
  libs/device/src/device_action.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(libudev): clean up entry vector when the list content is expired
  exts/libudev/src/libudev_list.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(libudev): support udev_device_new_from_environment
  exts/libudev/src/libudev_device.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(libudev): append prefix of underline for unused parameter
  exts/libudev/src/libudev_hwdb.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

test(libudev): add C example to use udev_device_new_from_environment
  exts/libudev/tests/test_libudev_device_new.c
Due: none

test(libudev): supplement test case for udev_list_entry on memory leak
  exts/libudev/src/libudev_device.rs
  exts/libudev/tests/test_libudev_device_leak.c
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(libudev): append suffix of version to be compatible with libudev
  exts/libudev/build.rs
  exts/libudev/libudev.sym
  exts/libudev/src/libudev.rs
  exts/libudev/src/libudev_device.rs
  exts/libudev/src/libudev_enumerate.rs
  exts/libudev/src/libudev_hwdb.rs
  exts/libudev/src/libudev_list.rs
  exts/libudev/src/libudev_monitor.rs
  exts/libudev/src/libudev_queue.rs
  exts/libudev_macro/src/lib.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(libudev): fix cargo fmt
  exts/libudev/src/libudev.rs
  exts/libudev/src/libudev_device.rs
  exts/libudev/src/libudev_enumerate.rs
  exts/libudev/src/libudev_hwdb.rs
  exts/libudev/src/libudev_list.rs
  exts/libudev/src/libudev_monitor.rs
  exts/libudev/src/libudev_queue.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(libudev): support several ABIs
  exts/libudev/src/libudev_device.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

refactor: optimize docs and scripts for using rsyslog
  docs/use/sysmaster下使能rsyslog/install_rsyslog.sh
  docs/use/sysmaster下使能rsyslog/readme.md
  docs/use/sysmaster下使能rsyslog/syslog.service
  docs/use/sysmaster下使能rsyslog/uninstall_rsyslog.sh
Due: none

fix: use basic::time_util::parse_sec to simpify code
  core/coms/service/src/config.rs
  core/coms/service/src/rentry.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix: a minor copy-paste fix
  libs/basic/src/time_util.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature: next-generation sysmaster with tokio and zbus
  .pre-commit-config.yaml
  Cargo.toml
  ci/00-pre.sh
  ci/codespell_ignore_words
  ng/Cargo.lock
  ng/Cargo.toml
  ng/src/bins/syscontrol.rs
  ng/src/bins/sysmaster.rs
  ng/src/jobs/mod.rs
  ng/src/lib.rs
  ng/src/manager/bus.rs
  ng/src/manager/config.rs
  ng/src/manager/mod.rs
  ng/src/units/mod.rs
  ng/src/units/service.rs
  ng/src/units/socket.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature: add manager config
  core/sysmaster/src/manager/pre_install.rs
  docs/design/rfcs/0001-systemd_parser.md
  libs/unit_parser/src/config.rs
  libs/unit_parser/src/error.rs
  libs/unit_parser/src/template.rs
  ng/Cargo.lock
  ng/Cargo.toml
  ng/src/bins/sysmaster.rs
  ng/src/manager/config.rs
  ng/src/manager/mod.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature: add unit timer
  Cargo.lock
  core/coms/service/src/mng.rs
  core/coms/timer/Cargo.toml
  core/coms/timer/src/base.rs
  core/coms/timer/src/comm.rs
  core/coms/timer/src/config.rs
  core/coms/timer/src/lib.rs
  core/coms/timer/src/load.rs
  core/coms/timer/src/manager.rs
  core/coms/timer/src/mng.rs
  core/coms/timer/src/rentry.rs
  core/coms/timer/src/unit.rs
  core/libcore/src/unit/base.rs
  core/libcore/src/unit/deps.rs
  core/libcore/src/unit/umif.rs
  core/sysmaster/Cargo.toml
  core/sysmaster/src/manager/rentry.rs
  core/sysmaster/src/unit/entry/uentry.rs
  core/sysmaster/src/unit/manager.rs
  core/sysmaster/src/unit/util/unit_om.rs
  libs/basic/Cargo.toml
  libs/basic/src/lib.rs
  libs/basic/src/time_util.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(sysmaster): memory leak in glob
  libs/basic/src/condition.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

refactor: move ng to next
  Cargo.toml
  next/src/bins/syscontrol.rs
  next/src/bins/sysmaster.rs
  next/src/jobs/mod.rs
  next/src/lib.rs
  next/src/manager/bus.rs
  next/src/manager/config.rs
  next/src/manager/mod.rs
  next/src/units/mod.rs
  next/src/units/service.rs
  next/src/units/socket.rs
  ng/Cargo.lock
  ng/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(libudev): replenish version information of udev_device_new_from_devnum
  exts/libudev/build.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(libudev): avoid hard-coded absolute path of libudev.sym
  exts/libudev/build.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(devmaster): load rules from all directories before sorting
  exts/devmaster/src/lib/rules/rules_load.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(device): ignore error when database file does not exist
  libs/device/src/device.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(devmaster): append udev rules directories to default configuration file
  exts/devmaster/config/config.toml
Due: cargo-override-set, cargo-build, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature(devmaster): add dracut module to install devmaster in initrd
  exts/devmaster/dracut_modules/95devmaster/init.sh
  exts/devmaster/dracut_modules/95devmaster/module-setup.sh
Due: none

docs(devmaster): install dracut modules of devmaster
  docs/use/devmaster替代udev运行/install_devmaster.sh
  docs/use/devmaster替代udev运行/uninstall_devmaster.sh
Due: none

Path conditions:
  cargo-override-set: any of: \.(rs|toml)$
  cargo-build: any of: \.(rs|toml)$
  cargo-clippy: any of: \.rs$
  cargo-fix: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-test-tmpfile-cleanup: any of: \.(rs|toml)$
  cargo-test: any of: \.(rs|toml)$
  cargo-override-unset: any of: \.(rs|toml)$
