Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

cargo-override-set:
  name: cargo-override-set
  description: unset override.
  entry: bash -c 'rustup override set stable || true'
  language: rust
  pass_filenames: false
  verbose: true

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'RUSTC_WRAPPER="" cargo clippy -vvv --all-targets --features "default" --all -- -Dwarnings'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -v --all -- --check -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fix:
  name: cargo fix
  description: Check the package for errors.
  entry: bash -c 'cargo fix -v --broken-code --all-targets --all --allow-dirty --allow-staged'
  language: rust
  pass_filenames: false
  verbose: true

cargo-build:
  name: cargo build
  description: build the package for errors.
  entry: bash -c 'cargo build --all --features "default" -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-test:
  name: cargo test
  description: test the package for errors.
  entry: bash -c 'RUST_BACKTRACE=full cargo test --all-targets --all -v -- --nocapture --show-output --test-threads=1'
  language: rust
  pass_filenames: false
  verbose: true

cargo-override-unset:
  name: cargo-override-unset
  description: unset override.
  entry: bash -c 'rustup override unset || true'
  language: rust
  pass_filenames: false
  verbose: true

feature(devmaster): Add subcommands for devctl trigger
  exts/devmaster/src/bin/devctl/main.rs
  exts/devmaster/src/bin/devctl/subcmds/devctl_info.rs
  exts/devmaster/src/bin/devctl/subcmds/devctl_trigger.rs
  exts/devmaster/src/bin/devctl/subcmds/devctl_utils.rs
  exts/devmaster/src/bin/devctl/subcmds/mod.rs
  exts/random_seed/src/random_seed.rs
  libs/basic/Cargo.toml
  libs/basic/src/io_util.rs
  libs/basic/src/lib.rs
  libs/basic/src/random_util.rs
  libs/basic/src/uuid.rs
  libs/device/src/device.rs
  libs/device/src/device_enumerator.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: mimor fix
  docs/README
  docs/cicd/使用Vendor发布源码/readme.md
  docs/cicd/使用Vendor发布源码/vendor.sh
  docs/design/rfcs/0002-hwdb_design.md
  docs/design/rfcs/0003-
  docs/use/devmaster替代udev运行/readme.md
  docs/use/sysMaster特权容器/assets/admin_docker.png
  docs/use/sysMaster特权容器/readme.md
  docs/use/sysmaster下使能rsyslog/install_rsyslog.sh
  docs/use/sysmaster下使能rsyslog/readme.md
  docs/use/兼容systemd模式运行/patches/README
  docs/use/兼容systemd模式运行/readme.md
  docs/use/兼容systemd模式运行/systemd-dockerimg/rpms/README
  docs/use/容器中替代pid1运行/README.md
  docs/use/容器中替代pid1运行/readme.md
  docs/use/虚机中替代pid1运行/readme.md
  sysmaster.spec
Due: none

fix: return Ok when the .hwdb and hwdb.bin files cannot be found
  libs/hwdb/src/hwdb_util.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: solve two sysmaster problem, exit after do_execute()
  libs/basic/src/exec_util.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: mv devmaster conf to factory for rpmbuild and and mockbuild docs
  .gitignore
  docs/cicd/build_rpm_with_mock/build_rpm.sh
  docs/cicd/build_rpm_with_mock/openeuler-22.03.tpl
  docs/cicd/build_rpm_with_mock/openeuler-22.03LTS_SP1-aarch64.cfg
  docs/cicd/build_rpm_with_mock/openeuler-22.03LTS_SP1-x86_64.cfg
  docs/cicd/build_rpm_with_mock/readme.md
  docs/cicd/build_rpm_with_mock/sysmaster.spec
  docs/cicd/build_xz_with_vendor/readme.md
  docs/cicd/build_xz_with_vendor/vendor.sh
  factory/etc/devmaster/config.toml
  factory/etc/devmaster/network.d/99-default.link
  factory/etc/devmaster/rules.d/99-default.rules
  factory/usr/lib/udev/config.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

fix: Failed to devctl info /dev or /sys
  exts/devmaster/src/bin/devctl/subcmds/devctl_info.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: solve reboot time consuming
  libs/basic/src/process.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature: controll the use of heed (lmdb) through features
  core/coms/mount/src/rentry.rs
  core/coms/service/src/rentry.rs
  core/coms/socket/src/rentry.rs
  core/coms/target/src/rentry.rs
  core/libcore/Cargo.toml
  core/libcore/src/rel/api_comm.rs
  core/libcore/src/rel/api_norecov.rs
  core/libcore/src/rel/api_recov.rs
  core/libcore/src/rel/base.rs
  core/libcore/src/rel/history.rs
  core/libcore/src/rel/mod.rs
  core/sysmaster/Cargo.toml
  core/sysmaster/src/main.rs
  core/sysmaster/src/manager/mod.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature: support machine-id-setup
  Cargo.lock
  Cargo.toml
  core/sysmaster/src/main.rs
  exts/machine-id-setup/Cargo.toml
  exts/machine-id-setup/src/main.rs
  libs/basic/Cargo.toml
  libs/basic/src/fs_util.rs
  libs/basic/src/id128_util.rs
  libs/basic/src/lib.rs
  libs/basic/src/machine.rs
  libs/basic/src/namespace_util.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: minor fix
  ci/00-pre.sh
  docs/cicd/build_rpm_with_mock/build_rpm.sh
  docs/cicd/build_rpm_with_mock/logging.ini
  docs/cicd/build_xz_with_vendor/vendor.sh
Due: none

build: add keepgater of every crate with cargo build
  .pre-commit-config.yaml
  ci/00-pre.sh
  ci/03-build-packages.sh
  ci/common_function
  core/sysmaster/Cargo.toml
  exts/hwdb/Cargo.toml
  exts/random_seed/Cargo.toml
  libs/basic/Cargo.toml
  libs/device/Cargo.toml
  next/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

docs: add image build with kiwi
  docs/cicd/build_docker_with_kiwi/appliance.kiwi
  docs/cicd/build_docker_with_kiwi/config.sh
  docs/cicd/build_docker_with_kiwi/readme.md
  docs/cicd/build_rpm_with_mock/build_rpm.sh
Due: none

Revert "docs: add image build with kiwi"
  docs/cicd/build_docker_with_kiwi/appliance.kiwi
  docs/cicd/build_docker_with_kiwi/config.sh
  docs/cicd/build_docker_with_kiwi/readme.md
  docs/cicd/build_rpm_with_mock/build_rpm.sh
Due: none

test(device): refactor and increase test line coverage
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/utils/commons.rs
  libs/device/src/device.rs
  libs/device/src/device_monitor.rs
  libs/device/src/error.rs
  libs/device/src/utils.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

test(device): compress closures and add some unit cases
  exts/devmaster/src/bin/devctl/subcmds/devctl_info.rs
  exts/devmaster/src/lib/builtin/hwdb.rs
  exts/devmaster/src/lib/framework/devmaster.rs
  exts/devmaster/src/lib/framework/job_queue.rs
  exts/devmaster/src/lib/framework/uevent_monitor.rs
  libs/device/examples/device_from.rs
  libs/device/src/device.rs
  libs/device/src/device_enumerator.rs
  libs/device/src/device_monitor.rs
  libs/device/src/error.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(basic): complete feature dependencies
  libs/basic/Cargo.toml
  libs/basic/src/error.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(docs): fix incorrect script directory path after place moving
  docs/use/devmaster替代udev运行/install_devmaster.sh
Due: none

fix(devmaster): drop unnecessary debug trait implementations
  exts/devmaster/src/lib/framework/control_manager.rs
  exts/devmaster/src/lib/framework/garbage_collect.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
  libs/device/src/error.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(device): replenish feature dependency of uuid on basic crate
  libs/device/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

fix(basic): use feature to control procfs compilation in get_errno
  libs/basic/src/error.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(device): fix UT privilege error in ci
  libs/device/src/device.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(device): set driver subsystem after generating device from nulstr
  libs/device/src/device.rs
  libs/device/src/device_monitor.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: mimor fix
  docs/cicd/build_docker_with_kiwi/appliance.kiwi
  docs/cicd/build_docker_with_kiwi/readme.md
Due: none

docs: add kis images with kiwi
  docs/cicd/build_qemu_with_kiwi/appliance.kiwi
  docs/cicd/build_qemu_with_kiwi/config.sh
  docs/cicd/build_qemu_with_kiwi/readme.md
Due: none

ci: mimor fix
  ci/01-pre-commit.sh
  ci/02-musl-build.sh
  ci/03-build-packages.sh
  docs/cicd/build_docker_with_kiwi/appliance.kiwi
Due: none

feature(devmaster): add devctl control subcommand to let devmaster exit
  exts/devmaster/src/bin/devctl/daemon/mod.rs
  exts/devmaster/src/bin/devctl/main.rs
  exts/devmaster/src/lib/framework/control_manager.rs
  exts/devmaster/src/lib/framework/devmaster.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

test(devmaster): optimize UT for testing framework and add some new cases
  exts/devmaster/src/bin/devctl/daemon/mod.rs
  exts/devmaster/src/lib/framework/job_queue.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor(devmaster): compress unnecessary code
  exts/devmaster/src/lib/framework/uevent_monitor.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(device): cleanup temporary tag files
  libs/device/src/device.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

test(device): add UT for device enumerator
  libs/device/src/device_enumerator.rs
  libs/device/src/error.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

test(device): add UT for device monitor
  libs/device/src/device_monitor.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(device): drop unnecessary error throwing out
  libs/device/src/device.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: mount early and judge whether it is a mountpoint
  init/main.rs
  init/mount.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature: support reboot shutdwon command
  core/sctl/src/main.rs
  docs/cicd/build_rpm_with_mock/sysmaster.spec
  factory/usr/lib/devmaster/simulate_udev.sh
  factory/usr/lib/sysmaster/system/NetworkManager.service
  factory/usr/lib/sysmaster/system/dbus.service
  factory/usr/lib/sysmaster/system/dbus.socket
  factory/usr/lib/sysmaster/system/devctl-trigger.service
  factory/usr/lib/sysmaster/system/devmaster-simu-udev.service
  factory/usr/lib/sysmaster/system/devmaster.service
  factory/usr/lib/sysmaster/system/fstab.service
  factory/usr/lib/sysmaster/system/getty.target
  factory/usr/lib/sysmaster/system/getty@.service
  factory/usr/lib/sysmaster/system/halt.target
  factory/usr/lib/sysmaster/system/hostname-setup.service
  factory/usr/lib/sysmaster/system/poweroff.target
  factory/usr/lib/sysmaster/system/reboot.target
  factory/usr/lib/sysmaster/system/serial-getty@.service
  factory/usr/lib/sysmaster/system/sysmaster-halt.service
  factory/usr/lib/sysmaster/system/sysmaster-poweroff.service
  factory/usr/lib/sysmaster/system/sysmaster-reboot.service
  factory/usr/lib/sysmaster/system/udev-trigger.service
  factory/usr/lib/sysmaster/system/udevd-control.socket
  factory/usr/lib/sysmaster/system/udevd-kernel.socket
  factory/usr/lib/sysmaster/system/udevd.service
  libs/cmdproto/src/proto/execute.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): cache the parsed user and group
  exts/devmaster/src/lib/rules/rules_load.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

test(devmaster): add UT cases for rules load
  exts/devmaster/src/lib/rules/rules_load.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): CONST can only take arch or virt as attribute
  exts/devmaster/src/lib/rules/rules_load.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

Path conditions:
  cargo-override-set: any of: \.(rs|toml)$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-fix: any of: \.rs$
  cargo-build: any of: \.(rs|toml)$
  cargo-test: any of: \.(rs|toml)$
  cargo-override-unset: any of: \.(rs|toml)$
