Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks.git"
    rev: v4.4.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
  #      - id: check-executables-have-shebangs
      # - id: check-shebang-scripts-are-executable
  - repo: "https://github.com/codespell-project/codespell.git"
    rev: v2.2.2
    hooks:
      - id: codespell
        args: [-I, ci/codespell_ignore_words]
        verbose: true
  # - repo: "https://github.com/psf/black.git"
  #   rev: 22.8.0
  #   hooks:
  #     - id: black
  # - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #   rev: master  # or specific git tag
  #   hooks:
  #     - id: bundler-audit
  #     # - id: check-mailmap
  #     - id: fasterer
  #     # - id: forbid-binary
  #     # - id: forbid-space-in-indent
  #     - id: git-check  # Configure in .gitattributes
  #     - id: git-dirty  # Configure in .gitignore
  #     - id: markdownlint # Configure in .mdlrc
  #     - id: reek
  #     # - id: require-ascii
  #     - id: rubocop
  #     - id: script-must-have-extension
  #     # - id: script-must-not-have-extension
  #     - id: shellcheck
  #     - id: shfmt

  - repo: local
    hooks:
      - id: cargo-override-set
        name: cargo-override-set
        description: unset override.
        entry: bash -c 'rustup override set stable || true'
        language: rust
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'RUSTC_WRAPPER="" cargo clippy -vvv --all-targets --features "default" --all -- -Dwarnings'
        language: rust
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: commit-msg
        name: commit-msg
        description: use commit-msg for commit.
        entry: bash -c '\cp -ar ci/commit-msg .git/hooks/'
        language: system
        pass_filenames: false
        verbose: true
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -v --all -- --check -v'
        language: rust
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-fix
        name: cargo fix
        description: Check the package for errors.
        entry: bash -c 'cargo fix -v --broken-code --all-targets --all --allow-dirty --allow-staged'
        language: rust
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-build
        name: cargo build
        description: build the package for errors.
        entry: bash -c 'cargo build --all --features "default" -v'
        language: rust
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-test
        name: cargo test
        description: test the package for errors.
        entry: bash -c 'RUST_BACKTRACE=full cargo test --all-targets --all -v -- --nocapture --show-output --test-threads=1'
        language: rust
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-override-unset
        name: cargo-override-unset
        description: unset override.
        entry: bash -c 'rustup override unset || true'
        language: rust
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true

#      - id: cargo-deny
#        name: cargo deny check
#        description: Check cargo depencencies
#        entry: bash -c 'cargo deny check'
#        language: rust
#        files: \.rs$
#        args: []

fix: fix signalfd leak when daemon-reexec
  Cargo.toml
  libs/event/src/events.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: fix typo
  .pre-commit-config.yaml
  core/sysmaster/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

typo: fix clippy warnnings
  core/coms/mount/src/rentry.rs
  core/coms/service/src/rentry.rs
  core/coms/socket/src/base.rs
  core/coms/socket/src/config.rs
  core/coms/socket/src/rentry.rs
  core/coms/target/src/rentry.rs
  core/sysmaster/src/job/manager.rs
  core/sysmaster/src/job/rentry.rs
  core/sysmaster/src/unit/datastore/child.rs
  core/sysmaster/src/unit/entry/condition.rs
  core/sysmaster/src/unit/entry/config.rs
  core/sysmaster/src/unit/notify.rs
  core/sysmaster/src/unit/rentry.rs
  core/sysmaster/src/unit/runtime.rs
  core/sysmaster/src/unit/sigchld.rs
  core/sysmaster/src/unit/util/unit_file.rs
  init/src/main.rs
  libs/basic/src/fs_util.rs
  libs/basic/src/logger.rs
  libs/cgroup/src/cgroup.rs
  libs/kmod_rs/src/lib.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: import the crate according to our features
  core/sysmaster/src/unit/util/unit_om.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: only set logger when we set feature plugin
  core/coms/mount/src/base.rs
  core/coms/mount/src/manager.rs
  core/coms/service/src/base.rs
  core/coms/service/src/manager.rs
  core/coms/socket/src/base.rs
  core/coms/socket/src/manager.rs
  core/coms/target/src/base.rs
  core/coms/target/src/manager.rs
  core/libcore/src/unit/umif.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: log one line per message to /dev/log and simplify it a bit
  libs/basic/src/logger.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): some valid placeholder syntax is not recognized
  exts/devmaster/src/lib/utils/mod.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: Unified Cargo.lock dependencies version, adapted part of the devmaster code
  Cargo.lock
  core/coms/mount/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/devmaster/src/bin/devctl/main.rs
  exts/devmaster/src/lib/builtin/blkid.rs
  exts/devmaster/src/lib/config/devmaster_conf.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
  exts/devmaster/src/lib/rules/exec_unit.rs
  exts/devmaster/src/lib/utils/mod.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: name project sysMaster, change sysmaster-core to sysmaster
  Cargo.lock
  Cargo.toml
  core/coms/mount/Cargo.toml
  core/coms/service/Cargo.toml
  core/coms/socket/Cargo.toml
  core/coms/target/Cargo.toml
  core/libcore/Cargo.toml
  core/sctl/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/fstab/Cargo.toml
  exts/hostname_setup/Cargo.toml
  exts/random_seed/Cargo.toml
  exts/rc-local-generator/Cargo.toml
  exts/switch_root/Cargo.toml
  exts/sysmonitor/Cargo.toml
  libs/basic/Cargo.toml
  libs/blkid_rs/Cargo.toml
  libs/cgroup/Cargo.toml
  libs/cmdproto/Cargo.toml
  libs/constants/Cargo.toml
  libs/device/Cargo.toml
  libs/event/Cargo.toml
  libs/input_event_codes_rs/Cargo.toml
  libs/kmod_rs/Cargo.toml
  libs/libtests/Cargo.toml
  libs/macros/Cargo.toml
  libs/watchdog/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): delete the prefix backslash escaped symbol
  exts/devmaster/src/lib/rules/node.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): fix interruption on non-netif devices when processing add uevent
  exts/devmaster/src/lib/rules/exec_unit.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

docs: update readme
  README.md
Due: none

build: cleanup unused denpendencies
  Cargo.lock
  Cargo.toml
  core/coms/service/Cargo.toml
  core/coms/socket/src/mng.rs
  core/libcore/Cargo.toml
  core/sctl/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/hostname_setup/Cargo.toml
  exts/switch_root/Cargo.toml
  libs/basic/Cargo.toml
  libs/cgroup/Cargo.toml
  libs/cmdproto/Cargo.toml
  libs/event/src/timer.rs
  libs/input_event_codes_rs/Cargo.toml
  libs/macros/Cargo.toml
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: use features control the dependencies
  Cargo.lock
  exts/devmaster/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

fix: fd leak when daemon-reexec, because epoll::create do not set CLOEXEC
  core/coms/mount/src/manager.rs
  core/sysmaster/Cargo.toml
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: When vendoring, custom patches can be applied.
  ci/00-pre.sh
  patch/README.md
  vendor.sh
Due: none

docs: add hwdb docs
  docs/rfcs/0001-systemd_parser.md
  docs/rfcs/0002-hwdb_design.md
  docs/rfcs/assets/hwdb_framework.png
  docs/rfcs/assets/hwdb_process.png
Due: none

build: make musl build optional
  ci/00-pre.sh
  ci/02-musl-build.sh
Due: none

docs: add sysMaster build and use
  ci/02-musl-build.sh
  docs/design/00-index_zh.md
  docs/design/00-sysmaster_0description.md
  docs/resolution/00-sysMaster build and use.md
  patch/README.md
Due: none

docs: add resolutions on sysmaster.online
  docs/resolution/01-run sysmaster in virtual machine.md
  docs/resolution/01-run sysmaster with busybox.md
  docs/resolution/01-run sysmaster with container.md
  docs/resolution/01-run sysmaster with systemd.md
  tools/run_with_busybox/README.md
  tools/run_with_kubeos/README.md
  tools/run_with_sd/README.md
  tools/run_with_vm/README.md
Due: none

fixed d5b00aa from https://gitee.com/jiayi0118/sysmaster/pulls/750 fix(devmaster): fix incorrect hints when loading GOTO and LABEL rules
  exts/devmaster/src/lib/rules/rules_load.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

build: make vendor.sh happy
  requirements.sh
  vendor.sh
Due: none

build: make musl optional when local build
  ci/00-pre.sh
  ci/02-musl-build.sh
  vendor.sh
Due: none

release: release v0.5.0
  Cargo.lock
  Cargo.toml
  core/coms/mount/Cargo.toml
  core/coms/service/Cargo.toml
  core/coms/socket/Cargo.toml
  core/coms/target/Cargo.toml
  core/libcore/Cargo.toml
  core/sctl/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/fstab/Cargo.toml
  exts/hostname_setup/Cargo.toml
  exts/random_seed/Cargo.toml
  exts/rc-local-generator/Cargo.toml
  exts/switch_root/Cargo.toml
  exts/sysmonitor/Cargo.toml
  libs/basic/Cargo.toml
  libs/blkid_rs/Cargo.toml
  libs/cgroup/Cargo.toml
  libs/cmdproto/Cargo.toml
  libs/constants/Cargo.toml
  libs/device/Cargo.toml
  libs/event/Cargo.toml
  libs/input_event_codes_rs/Cargo.toml
  libs/kmod_rs/Cargo.toml
  libs/libtests/Cargo.toml
  libs/macros/Cargo.toml
  libs/watchdog/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): fix failure in test_update_prior_dir
  exts/devmaster/src/lib/rules/node.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix: Fixed parsing single quotes error
  core/libcore/src/exec/cmd.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(input_event_codes_rs): compatible with rustc 1.71.1
  libs/input_event_codes_rs/src/build.sh
Due: none

fix(devmaster): avoid coredump when rules directory is empty
  exts/devmaster/config/config.toml
  exts/devmaster/config/network.d/99-default.link
  exts/devmaster/config/rules.d/99-default.rules
  exts/devmaster/src/lib/config/devmaster_conf.rs
  exts/devmaster/src/lib/framework/devmaster.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/tests/network/99-default.link
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(device): avoid inserting empty tag
  libs/device/src/device.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

fix(devmaster): append trailing white line in 99-default.rules
  exts/devmaster/config/rules.d/99-default.rules
Due: none

fix: test-builtin path_id outputs incorrect ID_PATH and ID_PATH_TAG
  exts/devmaster/src/lib/builtin/path_id.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: move time into unistd
  core/sysmaster/src/unit/util/unit_file.rs
  libs/basic/Cargo.toml
  libs/basic/src/lib.rs
  libs/basic/src/time.rs
  libs/basic/src/unistd.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: change basic::rlimit_util to basic::rlimit
  core/libcore/src/exec/base.rs
  core/sysmaster/src/unit/manager.rs
  libs/basic/Cargo.toml
  libs/basic/src/lib.rs
  libs/basic/src/rlimit.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: move virt.rs to machine.rs
  core/sysmaster/src/mount/setup.rs
  core/sysmaster/src/unit/manager.rs
  exts/switch_root/src/switch_root.rs
  libs/basic/Cargo.toml
  libs/basic/src/initrd_util.rs
  libs/basic/src/lib.rs
  libs/basic/src/machine.rs
  libs/basic/src/virt.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

feature: use features for crate basic
  ci/01-pre-commit.sh
  core/coms/mount/Cargo.toml
  core/coms/service/Cargo.toml
  core/coms/socket/Cargo.toml
  core/libcore/Cargo.toml
  core/sctl/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/hostname_setup/Cargo.toml
  exts/random_seed/Cargo.toml
  exts/switch_root/Cargo.toml
  exts/sysmonitor/Cargo.toml
  libs/basic/Cargo.toml
  libs/basic/src/capability.rs
  libs/basic/src/error.rs
  libs/basic/src/sysfs.rs
  libs/blkid_rs/Cargo.toml
  libs/cgroup/Cargo.toml
  libs/device/Cargo.toml
  libs/event/Cargo.toml
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: use features for basic::uuid, basic::errno, basic::special and basic::virt
  core/coms/service/src/rentry.rs
  core/coms/service/src/unit.rs
  core/coms/socket/src/load.rs
  core/coms/socket/src/mng.rs
  core/libcore/src/exec/base.rs
  core/sysmaster/src/manager/mod.rs
  core/sysmaster/src/mount/setup.rs
  core/sysmaster/src/unit/util/unit_file.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/rules/rules_load.rs
  exts/devmaster/src/lib/utils/mod.rs
  libs/basic/Cargo.toml
  libs/basic/src/condition.rs
  libs/basic/src/errno_util.rs
  libs/basic/src/error.rs
  libs/basic/src/fd_util.rs
  libs/basic/src/lib.rs
  libs/basic/src/special.rs
  libs/basic/src/time.rs
  libs/basic/src/unistd.rs
  libs/basic/src/uuid.rs
  libs/basic/src/virt.rs
  libs/cgroup/src/cgroup.rs
  libs/device/src/device.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: move ether_addr_util.rs to network.rs
  exts/devmaster/src/lib/builtin/net_id.rs
  libs/basic/Cargo.toml
  libs/basic/src/lib.rs
  libs/basic/src/network.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: add features
  libs/basic/Cargo.toml
  libs/basic/src/lib.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset

refactor: use features to control basic::sysfs code
  libs/basic/Cargo.toml
  libs/basic/src/condition.rs
  libs/basic/src/device.rs
  libs/basic/src/lib.rs
  libs/basic/src/sysfs.rs
Due: cargo-override-set, cargo-clippy, cargo-fmt, cargo-fix, cargo-build, cargo-test, cargo-override-unset
